<a href="https://colab.research.google.com/github/AnneSevero/AnneSevero/blob/main/Aula%201%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#dicionario

dic_idade = {'Isa': 20, 'Anne': 17, 'Kaike': 19}
print(dic_idade)

#alterar o valor do item de um dicionario
#dic_idade['Maria'] = 21

#retorna valores
#print(dic_idades.values())

#retorna chaves
#print(dic_idades.keys())

{'Isa': 20, 'Anne': 17, 'Kaike': 19}

In [11]:
nomes_tuplas = ('Anne', 'Kaike', 'Anne', 'Anne', 'Anne')
print(nomes_tuplas)

nomes_set = set(nomes_tuplas)
print(nomes_set)

('Anne', 'Kaike', 'Anne', 'Anne', 'Anne')
{'Kaike', 'Anne'}

In [4]:
nomes = "Hello World"
print(nomes)

Hello World

In [ ]:
#lista
nomes = ['Anne, Kaike, Gustavo, Isa']

#adicionar um indice
#nome.append()

#deletar um indice
#nomes.pop()

#deleta uma lista inteira
#nome.clear()

#frequencia que o nome aparece dentro de uma lista
#nome.count()

#tamanho da lista/len é um função que pode usar na lista
#print(len(nomes))

#concatenação de listas
#proa1 ['Equipe 1', 'Equipe 2']
#proa2 ['Equipe 3']
#proa = proa1 + proa2
#print(proa)

#tupla
#nomes_tupla = ('Isa','Brian','Anne','Guilherme','Anne')
#nomes_tupla[0] = 'Oi'
#print(nomes_tupla)

#set é uma função que reune os valores repetidos
#nomes_set = set(nomes_tupla)
#print(nomes_set)

#dicionario

In [3]:
#string minusculo
nome = 'hsudhheewjioosa3488482394'
print(nome.lower())

hsudhheewjioosa3488482394

In [2]:
#string maiúsculo
nome = 'Anne7438783929'
print(nome.upper())

ANNE7438783929

In [ ]:
#operadores lógicos
<, >, !=, <>, ==, <=, =>

#condicionais
#if
#else
#elif

In [1]:
nome = 'Anne'
print(nome)

Anne