<a href="https://colab.research.google.com/github/AnneSevero/AnneSevero/blob/main/C%C3%B3pia_de_Explicacao_aula(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Python (1).png]()

#Tipos de variaveis do Python

*   list
*   dict
*   str
*   int
*   float
*   set
*   bool
*   tuple


Listas são mutaveis (podem ser alteradas) e porem ter valores repetidos
[1,2,2,3,1]
[0,2,2,3,1]

Tuplas são imutaiveis (não alteram os valores)
(1,2,2,1,1,3)

Set são semelhantes a listas, porem não podem ter valores repetidos
set(1,2,3)

In [ ]:
##int -> 5
#float -> 5.0
[1,2,3]
['andre','joao','maria']

vector = {'nome':'maria',
 'idade':24,
 'altura':1.50}

lista_numeros = [1,2,3,4,4,4,4,4,4,4]



print(set(lista_numeros))


#True -> 1
#False -> 0

{1, 2, 3, 4}

In [ ]:

#list
nomes = ['andre','isa','jennie','andre']
#tuple
nomes_t = ('andre','isa','jennie','andre')

print(nomes)
#set
nomes_unicos = set(nomes)
print(nomes_unicos)

nomes[-1] = 'isa'
print(nomes)

#tuple
print(nomes_t)

['andre', 'isa', 'jennie', 'andre']
{'jennie', 'isa', 'andre'}
['andre', 'isa', 'jennie', 'isa']
('andre', 'isa', 'jennie', 'andre')

In [ ]:
#Dicionario
nomes = {'andre':25,'isa':20,'jennie':20}

print(f"idade: {nomes['jennie']}")

idade: 20

#Metodos e funcionalidades de cada tipo de variavel

##str

In [ ]:
nome = 'Roberto'
sobrenome = 'Carlos'

idade_maria = '10'
idade_joao = '5'


nome_sobrenome = nome + ' ' +  sobrenome
print(nome_sobrenome)

#Somando str
print(idade_maria + idade_joao)

#Maiucuslo
print(nome.upper())

#Minusculo
print(nome.lower())

#Pegando uma fatia do texto
print(nome[0:3])

nome_aluna = 'Laura'
print(nome_aluna[2:])

Roberto Carlos
105
ROBERTO
roberto
Rob
ura

##Int

In [ ]:
#int
numero = 1
numero2 = 2

#visualizar type
tipo = type(numero)
print(tipo)

# operadores
soma = numero + numero2
print(soma)

subtracao = numero - numero2
print(subtracao)

multiplicacao = numero * numero2
print(multiplicacao)

divisao = numero / numero2
print(divisao)

<class 'int'>
3
-1
2
0.5

##Float

In [ ]:
#int
numero = 1.9
numero2 = 2.1

#visualizar type
tipo = type(numero)
print(tipo)

# operadores
soma = numero + numero2
print(soma)

subtracao = numero - numero2
print(subtracao)

multiplicacao = numero * numero2
print(multiplicacao)

divisao = numero / numero2
print(divisao)

<class 'float'>
4.0
-0.20000000000000018
3.9899999999999998
0.9047619047619047

# ##lista

In [ ]:
lista_de_jogos = ['gta','fifa','minecraft','battlefield']
lista_de_jogos.append('cod')
print(lista_de_jogos)

['gta', 'fifa', 'minecraft', 'battlefield', 'cod']

In [ ]:
#list
nomes = ['isa','jennie']
print(nomes)
nomes.append('andre')
print(nomes)

#Ordenando lista
nomes.sort()
print(nomes)

#Removendo valor atraves de indice
nomes.pop(0)
print(nomes)

idades = [20,25,19,30,20]

#Frequencia que o numero 20 aparece
print(idades.count(20))

#Mostra quantidade de elementos que existe na lista
print(len(idades))

#Lista de listas
lista_complexa = [['jennie',20],['isa',20],['andre',25]]

print(lista_complexa)

#acessando primeiro elemento da lista
print(lista_complexa[0])

#adicionando uma lista dentro de outra lista
lista_complexa.append(nomes)
print(lista_complexa)

animais_1 = ['cachorro','gato']
animais_2 = ['passaro','leão']

#concatenar/juntar duas listas em uma só
todos_animais = animais_1 + animais_2
print(todos_animais)

['isa', 'jennie']
['isa', 'jennie', 'andre']
['andre', 'isa', 'jennie']
['isa', 'jennie']
2
5
[['jennie', 20], ['isa', 20], ['andre', 25]]
['jennie', 20]
[['jennie', 20], ['isa', 20], ['andre', 25], ['isa', 'jennie']]
['cachorro', 'gato', 'passaro', 'leão']

##dict

In [ ]:
#Criando dict/dicionario
nomes = {'isa':20,'jennie':20,'andre':25}

print(nomes['jennie'])
#Alterando valor do dicionario
nomes['isa'] = 'não encontrado'

#Adicionando novo item no dicionario
nomes['vitor'] = 3
print(nomes)

#Removendo item do dicionario
nomes.pop('andre')
print(nomes)

#Retorna as chaves do dicionario
print(nomes.keys())

#Retorna os valores do dicionario
print(nomes.values())

20
{'isa': 'não encontrado', 'jennie': 20, 'andre': 25, 'vitor': 3}
{'isa': 'não encontrado', 'jennie': 20, 'vitor': 3}
dict_keys(['isa', 'jennie', 'vitor'])
dict_values(['não encontrado', 20, 3])

#Condicionais e operadores logicos

Condicionais são uteis para verificar um ou mais inputs e tomar uma "decisão" ou seguir um fluxo especifico para aquele cenario

In [ ]:
#Operadores logicos
<,>,!= <>,==, <=,>=

#Condicionais
if
elif
else

#Outros
is not None, is None, is True, is False, is not True, is not False

In [ ]:
#Exemplo com numeros
idade_isa = 20
idade_jennie = 20

#Quem é mais velha
if idade_isa > idade_jennie:
  print('Isa é mais velha')
elif idade_jennie > idade_isa:
  print('Jennie é mais velha')

else:
  print('As duas tem a mesma idade')

As duas tem a mesma idade

In [ ]:
#Exemplo com texto e numero

nome=input("Digite o nome: ")
idade=int(input("Digite a idade: "))
doenca_infectocontagiosa=input("Suspeita de doença infecto-contagiosa?").upper()
if idade>=65 and doenca_infectocontagiosa=="SIM":
    print("O paciente será direcionado para sala AMARELA - COM prioridade")
elif idade < 65 and doenca_infectocontagiosa == "SIM":
    print("O paciente será direcionado para sala AMARELA - SEM prioridade")
elif idade >= 65 and doenca_infectocontagiosa == "NAO":
    print("O paciente será direcionado para sala BRANCA - COM prioridade")
elif idade < 65 and doenca_infectocontagiosa == "NAO":
    print("O paciente será direcionado para sala BRANCA - SEM prioridade")
else:
    print("Responda a suspeita de doença infectocontagiosa com SIM ou NAO")

Digite o nome: Maria
Digite a idade: 80
Suspeita de doença infecto-contagiosa?SIM
O paciente será direcionado para sala AMARELA - COM prioridade

In [ ]:
#Exemplo de encadeamento

nome=input("Digite o nome: ")
idade=int(input("Digite a idade: "))
doenca_infectocontagiosa=input("Suspeita de doença infectocontagiosa?").upper()
if idade >= 65:
    print("Paciente COM prioridade")
    if doenca_infectocontagiosa=="SIM":
        print("Encaminhe o paciente para sala VERMELHA")
    elif doenca_infectocontagiosa=="NAO":
        print("Encaminhe o paciente para sala BRANCA")
    else:
        print("Responda a suspeita de doença infectocontagiosa com SIM ou NAO")
else:
    print("Paciente SEM prioridade")
    if doenca_infectocontagiosa=="SIM":
        print("Encaminhe o paciente para sala AMARELA")
    elif doenca_infectocontagiosa=="NAO":
        print("Encaminhe o paciente para sala BRANCA")
    else:
        print("Responda a suspeita de doença infectocontagiosa com SIM ou NAO")

In [ ]:
valor = 10.7

if type(valor) == int:
  print('Valor não tem centavos')
elif type(valor) == float:
  centavos = str(valor).split('.')[-1]
  print(f'Valor tem {centavos} centavos')
else:
  print('Coloque apenas valores int ou float')

Valor tem 7 centavos

#Loop de repetição

In [ ]:
while
for
[x for x in range(0,100)]

In [ ]:
resposta = "SIM"
while resposta == "SIM":
    nivel = input("Digite o nível de acesso: ").upper()
    if nivel == "ADM" or nivel == "USR":
        genero = input("Digite o seu gênero: ").upper()
        if nivel == "ADM":
            if genero == "FEMININO":
                print("Olá administradora")
            else:
                print("Olá administrador")
        else:
            if genero == "FEMININO":
                print("Olá usuária")
            else:
                print("Olá usuario")
    elif nivel == "GUEST":
        print("Olá visitante")
    else:
        print("Olá desconhecido(a)")
    resposta = input("Digite SIM para continuar: ").upper()

In [ ]:
for numero in range(0,1000):
  print(f'numero: {numero}')

In [ ]:

contador = 0
while True:
  if contador < 10:
    contador += 1
  else:
    break
  print(contador)

In [ ]:
pass
continue

In [ ]:

par = False
numeros_pares = []
for i in range(0,100):
  if i % 2:
    par = True

  if par:
    continue
  else:
    pass

  if par:
    numeros_pares.append(i)


print(numeros_pares)

In [ ]:
lista_de_numeros = [numero for numero in range(0,100)]
print(lista_de_numeros)